---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";

export async function getStaticPaths() {
    const eventCollections = await getCollection('events');
    const paths = eventCollections.map((event: CollectionEntry<"events">) => {
        const slugs = event.id.split('/');
        return {
            params: {
                event: slugs[0]
            }
        };
    });
    
    return paths;
}

const eventCollections = await getCollection('eventYears', ({ id }) => id.split('/')[0] === Astro.params.event);
const events = new Set<{
  title: string;
  post: CollectionEntry<"eventYears">;
}>();

eventCollections.map((event) => {
  const slugs = event.id.split('/');

  events.add({
    title: slugs[1],
    post: event
  });
});

const [ event ] = (await getCollection('events', ({ data }) => data.title.toLowerCase() === Astro.params.event));
---

<Layout title="ztz0">
  {event 
    ?
      <div class="grid md:grid-cols-3 gap-2">
        {
          [...events].map((event) => (
            <a href={`${Astro.url.pathname}/${event.title}`}>
              <Card title={event.title} />
            </a>
          ))
        }
      </div>
    :
    <h1 class="text-4xl font-bold">Event not found</h1>
  }
</Layout>
