---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ztz0">
  <div class="flex flex-col items-center justify-center gap-y-4 text-center">
    <h1 class="mb-4 text-3xl font-bold">404: Page not found</h1>
    <p class="prose dark:prose-invert">Oops! The page you're looking for doesn't exist.</p>
  </div>
</Layout>
