---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Project.astro";
---

<Layout title="Components">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-2">
      <h2 class="text-2xl font-medium">Button</h2>

      <div class="flex gap-4">
        <Button class="p-3">Test</Button>
        <Button variant="secondary">Test</Button>
        <Button variant="outline">Test</Button>
        <Button variant="ghost">Test</Button>
      </div>

      <div class="flex gap-4">
        <Button size="sm">Test</Button>
        <Button variant="secondary" size="sm">Test</Button>
        <Button variant="outline" size="sm">Test</Button>
        <Button variant="ghost" size="sm">Test</Button>
      </div>

      <div class="flex gap-4">
        <Button size="lg">Test</Button>
        <Button variant="secondary" size="lg">Test</Button>
        <Button variant="outline" size="lg">Test</Button>
        <Button variant="ghost" size="lg">Test</Button>
      </div>

      <div class="flex gap-4">
        <Button size="icon"><Icon name="lucide:home" /></Button>
        <Button variant="secondary" size="icon"
          ><Icon name="lucide:home" /></Button
        >
        <Button variant="outline" size="icon"
          ><Icon name="lucide:home" /></Button
        >
        <Button variant="ghost" size="icon"><Icon name="lucide:home" /></Button>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="text-2xl font-medium">Blocks</h2>

      <Experience />
      <Projects />
    </div>
  </div>
</Layout>
