---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ZTz - Home">
	<main class="prose max-w-none dark:prose-invert">
		<h1 class="text-4xl font-extrabold">
			👋 Hi, <span class="text-tx-accent">ZTz's</span> here!
		</h1>
		<div class="not-prose -mt-6">
			<ul
				class="flex flex-col lg:flex-row gap-1 lg:gap-10 ml-5 list-disc text-tx-muted"
			>
				<li>
					Based in Tangerang, Indonesia <span class="ml-1">🇮🇩</span>
				</li>
				<li>Working remotely</li>
			</ul>
		</div>
		<p>
			I am a self-taught software engineer with a passion for coding and
			continuous learning. I began my coding journey at the age of 14.
			Specializing in full-stack development, I particularly enjoy working
			with JavaScript, TypeScript, and C++. My expertise spans both
			front-end and back-end development, and I have a keen interest in
			open-source software.
		</p>
		<div class="border-t border-ui-normal mt-8 mb-7"></div>
		<h2 class="text-2xl">📧 You can reach me at</h2>
		<ul class="list-disc list-inside">
			<li>
				<a target="_blank" href="mailto:zentay36@gmail.com"
					>Email zentay36@gmail.com</a
				>
			</li>
		</ul>
	</main>
</Layout>
