---
import { Image } from 'astro:assets';
import MainLayout from '../layouts/MainLayout.astro';
import Prose from '../components/Prose.astro';
// import Experience from "../components/Experience.astro";
---

<MainLayout title="Home">
  <Prose>
    <h1 class="font-medium">
      <span class="block overflow-hidden group relative">
        <span
          class="inline-block duration-300 ease-in-out group-hover:-translate-y-full"
        >
          ztz0
        </span>
        <span
          class="inline-block absolute left-0 top-0 duration-300 ease-in-out translate-y-full group-hover:translate-y-0"
        >
          Muhamad Zibrisky
        </span>
      </span>
    </h1>
    <p>
      I'm a self-taught software engineer from Tangerang, Indonesia, passionate
      about coding and continuous learning since I was 12. I'm also a <a
        target="_blank"
        href="https://ctftime.org/user/209558"
        class="not-prose bg-flexoki-base-50 dark:bg-flexoki-base-950 text-xs font-medium px-2.5 py-0.5 rounded"
        ><Image
          src="https://ctftime.org/favicon.png"
          alt="CTFTime"
          width={8}
          height={8}
          loading="eager"
          class="inline-block mr-1"
        />CTF</a
      > player.
    </p>
    <!-- <p>
        I also have <a
          target="_blank"
          href=`quartz.${Astro.url.host}`
          class="not-prose bg-flexoki-base-50 dark:bg-flexoki-base-950 text-xs font-medium px-2.5 py-0.5 rounded"
          >🥬 Digital Garden</a
        > for CTF notes and other notes.
      </p>
      <h2 class="font-medium">Experiences</h2>
      <div class="not-prose">
        <Experience />
      </div> -->
  </Prose>
</MainLayout>
