---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="ZTz - Projects">
	<main>
		<div class="grid gap-2 lg:grid-cols-3 md:auto-rows-fr">
			<Card
				title="GTProxy"
				body="âš–ï¸ A proxy for growtopia. NO SHADOW BAN!"
				extraClass="rounded-xl lg:rounded-tl-xl lg:rounded-bl-sm lg:rounded-r-sm"
			/>
			<Card
				title="HovLibrary"
				body="ðŸ¥ˆ LKS Kota Tangerang (2023)"
				extraClass="rounded-xl lg:rounded-sm"
			/>
			<Card
				title="LatieDiscordBot"
				body="ðŸ¤– Discord Bot with Discord.js"
				extraClass="rounded-xl lg:rounded-l-sm lg:rounded-r-xl"
			/>
			<Card
				title="GTIntercherAndroid"
				body="âš™ï¸ Growtopia mod menu with ImGUI."
				extraClass="rounded-xl lg:rounded-bl-xl lg:rounded-tl-sm lg:rounded-br-xl lg:rounded-tr-sm"
			/>
		</div>
	</main>
</Layout>
