---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ztz0">
  <div class="grid md:grid-cols-2 gap-2">
    <a target="_blank" href="https://github.com/ZTzTopia/GTProxy">
      <div
        class="flex flex-col bg-bg-secondary p-4 rounded-lg justify-center"
      >
        <h1 class="font-medium">GTProxy</h1>
        <p class="text-sm">Debugging packets and modifying requests.</p>
      </div>
    </a>
  </div>
</Layout>
