---
import { Icon } from 'astro-icon/components'

const currentPath = Astro.url.pathname;
const paths = currentPath.split("/").filter((path) => path !== "");
---

{currentPath !== "/" && (
    <div class="flex gap-x-1 items-center">
        <a href="/">
            <Icon name="lucide:house" class="text-sm hover:text-flexoki-cyan-600 dark:hover:text-flexoki-cyan-400" />
        </a>
        {paths.map((path, index) => (
            <div class="flex gap-x-1 items-center">
                <Icon name="lucide:chevron-right" class="text-sm" />
                {index === paths.length - 1 ? (
                    <span class="text-sm uppercase">{decodeURIComponent(path)}</span>
                ) : (
                    <a
                        href={`/${paths.slice(0, index + 1).join("/")}`}
                        class="text-sm uppercase hover:text-flexoki-cyan-600 dark:hover:text-flexoki-cyan-400"
                    >
                        {decodeURIComponent(path)}
                    </a>
                )}
            </div>
        ))}
    </div>
)}
