---
interface Props {
    title: string;
    body: string;
    href: string;
    extraClass: string;
}

const { href, title, body, extraClass } = Astro.props;
---

<a href={href}>
    <div class=`${extraClass} bg-bg-secondary border border-ui-normal p-8`>
        <p class="text-lg">{title}</p>
        <p class="text-tx-muted text-md">{body}</p>
    </div>
</a>
