---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";
import Element from "./Element.astro";

interface Props extends HTMLAttributes<"a"> {}

const { ...rest } = Astro.props as Props;
---

<Element class:list={["card-link", "group"]} as="a" {...rest}>
  <div class="flex items-center justify-between">
    <div class="flex flex-col">
      <slot />
    </div>
    <Icon
      name="lucide:arrow-up-right"
      class="group-hover:translate-x-0.5 group-hover:-translate-y-0.5"
    />
  </div>
</Element>

<style>
  .card-link {
    @apply flex flex-col justify-center p-4 rounded-lg bg-flexoki-base-50 dark:bg-flexoki-base-950 border border-flexoki-base-100 dark:border-flexoki-base-900;

    svg {
      @apply text-lg;
    }
  }
</style>
