---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { ...rest } = Astro.props as Props;
---

<div class:list={["card"]} {...rest}>
  <slot />
</div>

<style>
  .card {
    @apply flex flex-col justify-center p-4 rounded-lg bg-flexoki-base-50 dark:bg-flexoki-base-950 border border-flexoki-base-100 dark:border-flexoki-base-900;
  }
</style>
