---
import type { CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';
import Card from './Card.astro';
import Badge from './Badge.astro';

const { event } = Astro.props as { event: CollectionEntry<'eventChallenges'> };
---

<Card class="bg-flexoki-light-bg-2 dark:bg-flexoki-dark-bg-2">
  <div slot="content" class="flex flex-row gap-2 items-center justify-center">
    <Icon name="lucide:flag" />
    <div>
      <strong>{event.data.title}</strong> Flag:{' '}
      <strong><code>{event.data.flag}</code></strong>
    </div>
  </div>
</Card>
