---
import Card from "./Card.astro";
---

<div class="flex flex-col gap-2">
  <Card description="Internship">
    <div slot="title" class="flex items-center gap-2">
      <p class="font-medium">Wellmagic Media Digital</p>
      <span class="bg-ui-normal text-xs font-medium px-2.5 py-0.5 rounded"
        >Jan 2022 - Mar 2022</span
      >
    </div>
  </Card>
</div>
