---
import { Icon } from 'astro-icon/components';
import ButtonIcon from './ButtonIcon.astro';

interface Item {
  url: string;
  title?: string;
  iconName?: string;
}

interface Props {
  items: Item[];
}

const { items }: Props = Astro.props;
---

<footer class="mt-12">
  <div class="flex justify-center gap-2">
    {
      items.map((item: Item) => (
        <ButtonIcon variant="outline" href={item.url}>
          <Icon name={item.iconName} />
        </ButtonIcon>
        // <a target="_blank" href={item.url} class="text-sm hover:text-tx-accent-hover">
        //   {item.title}
        // </a>
      ))
    }
  </div>
</footer>
