---
import { Icon } from 'astro-icon/components';
import Button from './Button.astro';

interface Item {
  url: string;
  title?: string;
  iconName?: string;
}

interface Props {
  items: Item[];
}

const props: Props = Astro.props;
---

<footer class="py-4 mt-12">
  <div class="mx-auto px-4 max-w-screen-sm">
    <div class="flex justify-end items-center">
      <!-- <p class="text-sm">
        &copy; {new Date().getFullYear()} All rights reserved.
      </p> -->
      <div class="flex gap-2">
        {
          props.items.map((item: Item) => (
            <Button variant="outline" size="icon" href={item.url}>
              <Icon name={item.iconName} />
            </Button>
          ))
        }
      </div>
    </div>
  </div>
</footer>
