---
import { Icon } from "astro-icon/components";
import Dropdown from "./Dropdown.astro";
import Button from "./Button.astro";
import SwitchTheme from "./SwitchTheme.astro";

interface Item {
  url: string;
  title: string;
}

interface Props {
  items: Item[];
}

const { items }: Props = Astro.props;
---

<header
  class="sticky top-0 z-10 bg-flexoki-base-paper/[0.90] dark:bg-flexoki-base-black/[0.90] backdrop-blur-sm"
>
  <div class="mx-auto px-4 max-w-screen-sm text-sm font-medium py-4">
    <div class="flex flex-wrap items-center justify-between gap-4">
      <Button
        variant="text"
        href="/"
        class="font-bold text-flexoki-cyan-600 dark:text-flexoki-cyan-400"
        >ztz0</Button
      >

      <nav class="flex gap-x-2 md:gap-x-4">
        <Dropdown size="icon" position="right" class="block md:hidden">
          <Button slot="trigger" variant="outline" size="icon">
            <Icon name="lucide:menu" />
          </Button>
          <div class="flex flex-col p-1">
            {
              items.map((item: Item) => {
                return (
                  <a
                    href={item.url}
                    class="block px-4 py-2 rounded-md hover:bg-flexoki-base-150 dark:hover:bg-flexoki-base-850"
                  >
                    {item.title}
                  </a>
                );
              })
            }
          </div>
        </Dropdown>

        <div class="hidden md:flex items-center gap-4">
          {
            items.map((item: Item) => {
              return (
                <a
                  href={item.url}
                  class="hover:text-flexoki-cyan-600 dark:hover:text-flexoki-cyan-400"
                >
                  {item.title}
                </a>
              );
            })
          }
        </div>

        <SwitchTheme />
      </nav>
    </div>
  </div>
</header>
