---
interface Item {
  url: string;
  title: string;
}

interface Props {
  items: Item[];
}

const { items }: Props = Astro.props;
---

<div class="mx-auto max-w-screen-sm px-4">
  <div class="flex flex-wrap items-center justify-between gap-4 py-4">
    <a>:)</a>
    <div class="flex items-center gap-2 md:gap-4">
      {
        items.map((item: Item) => {
          if (
            item.url.replace("/", "") === Astro.url.pathname.replace("/", "")
          ) {
            return (
              <div class="text-tx-accent-hover pointer-events-none">{item.title}</div>
            );
          }

          return (
            <a href={item.url} class="text-muted hover:text-tx-accent-hover">
              {item.title}
            </a>
          );
        })
      }
    </div>
  </div>
</div>
