---
import { getCollection, type CollectionEntry } from "astro:content";
import CardLink from "./CardLink.astro";

type Project = CollectionEntry<"projects">;
const projects: Project[] = await getCollection("projects");
---

<div class="grid md:grid-cols-2 gap-2">
  {
    projects.map((project: Project) => (
      <CardLink href={project.data.url} target="_blank">
        <h2 class="font-medium">{project.data.title}</h2>
        <p class="text-sm">{project.data.description}</p>
      </CardLink>
    ))
  }
</div>
