---
import type { MarkdownHeading } from 'astro';
import TableOfContentList from './TableOfContentList.astro';
import { buildHierarchy } from '../utils/markdown';

const { headings } = Astro.props as { headings: MarkdownHeading[] };
---

<div class="px-8">
	<z-toc>
		<h2 class="text-lg font-bold mb-2">Table of Contents</h2>
		<TableOfContentList headings={buildHierarchy(headings)} depth={0} />
	</z-toc>
</div>

<script>
export class TableOfContent extends HTMLElement {
	private _current = this.querySelector<HTMLAnchorElement>('a[aria-current="true"]');

	protected set current(link: HTMLAnchorElement) {
		if (link === this._current) {
			return;
		}

		if (this._current) {
			this._current.removeAttribute('aria-current');
		}

		link.setAttribute('aria-current', 'true');
		this._current = link;
	}

	constructor() {
		super();
	}
}

customElements.define('z-toc', TableOfContent);
</script>
