---
import { type CollectionEntry, getCollection } from 'astro:content';
import MainLayout from '../../../layouts/MainLayout.astro';
import EventCard from '../../../components/EventCard.astro';

export async function getStaticPaths() {
  const eventCollections = await getCollection('events');
  const years: string[] = [];

  eventCollections.forEach((event: CollectionEntry<'events'>) => {
    const slugs = event.id.split('/');
    if (slugs.length > 1) {
      const year = slugs[0];
      if (!year) {
        return;
      }

      if (!years.includes(year)) {
        years.push(year);
      }
    }
  });

  return years.map((year) => ({
    params: {
      year,
    },
  }));
}

interface Params {
  year: string;
}

const { year } = Astro.params as Params;

const eventCollections = await getCollection(
  'events',
  ({ id }) => id.split('/')[0] === year
);
---

<MainLayout title=`${year} Writeups`>
  {
    eventCollections.length > 0 ? (
      <div class="grid grid-cols-2 gap-2">
        {eventCollections.map((event) => (
          <a
            href={`${Astro.url.pathname}/${event.id.split('/').slice(1, -1).join('/')}`}
          >
            <EventCard event={event} />
          </a>
        ))}
      </div>
    ) : (
      <p>No events found :(</p>
    )
  }
</MainLayout>
