---
import Nav from "../components/Nav.astro";

const navItems = [
	{
		url: "/",
		title: "Home",
		icon: "home",
	},
	{
		url: "projects",
		title: "Projects",
		icon: "code-1",
	},
];

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Developer." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="bg-bg-primary text-tx-normal md:container md:mx-auto md:flex md:flex-row md:gap-x-4 md:py-16 md:px-14 md:max-w-7xl"
	>
		<Nav
			logoUrl="https://flowbite.com/docs/images/logo.svg"
			title="ZTzTopia"
			items={navItems}
		/>
		<div class="px-8 mt-8 mb-8 md:flex md:flex-col md:p-0 md:mt-0">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

	:root {
		color-scheme: dark;
	}

	body {
		font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: "wdth" 100;
	}

	::selection {
		--tw-bg-opacity: 1;
		background: hsl(
			var(--twc-selection) /
				var(--twc-selection-opacity, var(--tw-bg-opacity))
		);
	}
</style>
