---
import Breadcrumb from "../components/Breadcrumb.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Head from "../components/Head.astro";

const navItems = [
  {
    url: "/",
    title: "Home",
  },
  {
    url: "/writeups",
    title: "Writeups",
  },
  {
    url: "/projects",
    title: "Projects",
  },
];

const footerItems = [
  {
    url: "mailto:muhzib36@gmail.com",
    iconName: "lucide:mail",
  },
  {
    url: "https://www.youtube.com/channel/ZTzTopia702",
    iconName: "lucide:youtube",
  },
  {
    url: "https://github.com/ZTzTopia",
    iconName: "lucide:github",
  },
  {
    url: "https://www.linkedin.com/in/muhamad-zibrisky-b6a861252/",
    iconName: "lucide:linkedin",
  },
];

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Software Engineer and CTF Player from Tangerang, Indonesia",
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} />

    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

      @font-face {
        font-family: "Monaspace Neon";
        src: url("/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2")
          format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      body {
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }

      ::selection {
        @apply bg-flexoki-cyan-400/15 dark:bg-flexoki-cyan-600/15;
      }
    </style>
  </head>
  <body
    class="bg-flexoki-base-paper dark:bg-flexoki-base-black text-flexoki-base-black dark:text-flexoki-base-200 antialiased"
  >
    <div class="flex flex-col min-h-screen">
      <Header items={navItems} />
      
      <div class="flex-grow">
        <div class="flex flex-col gap-y-4 mx-auto p-4 max-w-screen-sm">
          <Breadcrumb />
          <slot />
        </div>
      </div>

      <Footer items={footerItems} />
    </div>
  </body>
</html>
