---
import Layout from './Layout.astro';

interface Props {
  title: string;
  description?: string;
}

const { ...rest } = Astro.props as Props;
---

<Layout {...rest}>
  <main class="flex flex-col px-4 mx-auto max-w-screen-md">
    <slot />
  </main>
</Layout>
