---
import MarkdownContent from '../components/MarkdownContent.astro';
import Layout from './Layout.astro';

interface Props {
  title: string;
  description?: string;
}

const { ...rest } = Astro.props as Props;
---

<Layout {...rest}>
  <main>
    <MarkdownContent>
      <slot />
    </MarkdownContent>
  </main>
</Layout>
